body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
/* <!------------ Header-------------> */
.header-logo-blue {
  color: #2e2f42;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  background: #fff;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}
.header-menu {
  /* display: flex;
  gap: 40px; */
  display: none;
}
.header-list {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list::after {
  content: "";
  background-color: #404bbf;
  border-radius: 2px;
  left: 0;
  height: 4px;
  position: absolute;
  bottom: -13px;
  width: 100%;
}
.header-list-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-list-link:hover {
  color: #404bbf;
}
.header-list-link:focus {
  color: #404bbf;
}
.header-contacts {
  /* font-style: normal;
  display: flex;
  margin-left: auto; */
  display: none;
}
.header-contact-menu {
  display: flex;
}
.header-contacts-list {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:hover {
  color: #404bbf;
}
.header-contacts-link:focus {
  color: #404bbf;
}
.header-btn-open {
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
/** +++++++++++++++++++++++++++++ */
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.mob-close-btn {
  display: block;
  margin-left: auto;
  border: none;
  border-radius: 50%;
}
.mob-close-icon {
}
.mob-navigation {
}
.mob-menu-navigation {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-menu-link-blue {
  color: #404bbf;
}
.mob-menu-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-address-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mob-address-link-blue {
  color: #404bbf;
}
.mob-icon-contacts {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}
.mob-icon-link {
  width: 40px;
  height: 40px;
}
.mob-link-icon {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon {
}

/* <!------------ solutions-------------> */

.container-solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.solutions {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}
.solutions-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  max-width: 496px;
  text-transform: capitalize;
}
.solutions-btn {
  display: block;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions-btn:hover {
  background-color: #404bbf;
}
.solutions-btn:focus {
  background-color: #404bbf;
}
/* <!------------ solutions-------------> */
/* ------------------projects--------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.projects {
  padding: 120px 0;
}
.projects-menu {
}

.projects-menu-list {
}
.projects-link-icon {
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.projects-item-text {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.projects-text {
  margin-bottom: 72px;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.projects-item {
  margin-bottom: 0;
}
/** <!------------ team-------------> */
/** <!------------ team-------------> */
.team {
  background: #f4f4fd;
  padding: 96px 0;
}
.professional-team {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-icon-contacts {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-link {
  width: 40px;
  height: 40px;
}
.team-link-icon {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: #f4f4fd;
}
.team-link-icon:hover {
  background-color: #404bbf;
}
.team-link-icon:focus {
  background-color: #404bbf;
}
.team-menu-list {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
}
.team-item-text {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-img {
  margin: 0 auto;
  width: 100%;
}
.team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
/** <!------------ team-------------> */
/** <!------------ portfolio-------------> */
.portfolio {
  padding: 96px 0;
}
.portfolio-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-cover-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cover-content {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-list-item:hover .portfolio-cover-text {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-list-item {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 100%;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-title-text {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-img {
  margin: 0 auto;
}
/* *------------------------------------- */
/* *------------ footer-------------> */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
}
.container-footer {
}
.footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.footer-blue {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-social-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-logo-container {
  margin-bottom: 72px;
}
.footer-icon-container {
  margin-bottom: 72px;
}
.footer-icon-contacts {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-icon-link {
  width: 40px;
  height: 40px;
}
.footer-link-icon {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover {
  background-color: #31d0aa;
}
.footer-link-icon:focus {
  background-color: #31d0aa;
}
.footer-text-input {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.footer-form {
}
.footer-form-wrap {
}
.footer-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  outline: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}
.footer-input::placeholder {
  color: #fff;
}
.footer-submit-btn {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border: none;
  min-width: 165px;
  height: 40px;
  margin: 0 auto;
}

.footer-submit-icon {
  margin-left: 16px;
}

/* ---------------------------------------------------- */
/* ------------------ backdrop------------------------*/
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.model {
  padding: 72px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.model-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-close-btn:hover,
.model-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.model-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-close-btn:hover > .model-close-icon,
.model-close-btn:focus > .model-close-icon {
  fill: #ffffff;
}
.model-input-wrap {
  margin-bottom: 8px;
}
.model-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.model-label {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.model-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-input:focus {
  border-color: #4d5ae5;
}
.model-input:focus + .model-icon {
  fill: #4d5ae5;
}
.model-textarea-wrap {
  margin-bottom: 16px;
}
.model-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-textarea:focus {
  border-color: #4d5ae5;
}
.model-textarea::placeholder {
  color: v #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.model-input-svg {
  position: relative;
}
.model-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-checkbox-wrap {
  margin-bottom: 24px;
}
.model-checkbox-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-checkbox-icon:focus::checkbox + .model-checkbox {
  fill: #404bbf;
  background-color: #404bbf;
}
.check-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-checkbox:checked + .model-label-checkbox .model-checkbox-icon {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.model-checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.model-label-checkbox {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.model-btn {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  cursor: pointer;
  width: 108px;
  padding: 16px 32px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-btn:hover,
.model-btn:focus {
  background-color: #404bbf;
}
/**--------------------***TABLET***---------------------------- */
@media screen and (min-width: 768px) {
  .container {
    width: 744px;
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }
  .backdrop {
    width: 288px;
    min-height: 623px;
  }
  .mob-menu {
    display: none;
  }
  .header-menu {
    display: flex;
    gap: 40px;
  }
  .header-list {
    color: #404bbf;
  }
  .header-contact-menu {
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
  .header-btn-open {
    display: none;
  }
  .header-btn-close {
    display: none;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-list {
    gap: 24px;
  }
  /** ---------------------------------- */
  .container-team {
    padding-left: 108px;
    padding-right: 108px;
  }
  .team-menu-list {
    display: flex;
    gap: 64px 24px;

    flex-wrap: wrap;
  }
  .team-list {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
  /** ---------------------------------- */
  .projects-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .projects-menu-list {
    width: calc((100% - 24px) / 2);
  }
  .projects-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .projects-text {
    margin-bottom: 0;
  }
  .container-footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer {
    display: flex;
  }
  .container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: baseline;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-logo-container {
    margin-right: 24px;
  }
  .footer-link {
    display: block;
  }
  .footer-input {
    width: 264px;
  }
  .footer-social-text {
    display: block;
  }
  .footer-text-input {
    display: block;
  }

  /**--------------------***DESCTOP***---------------------------- */
  @media screen and (min-width: 1158px) {
    .container {
      width: 1158px;
    }
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .solutions {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/people-office-2x.jpg);
      }
    }
    .header-contact-menu {
      flex-direction: row;
      gap: 40px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
    .header-list::after {
    }
    .header-list::after {
      bottom: -3px;
    }
    .projects-text-cover {
      width: 264px;
    }
    .portfolio-list-item {
      width: calc((100% - 48px) / 3);
    }
    .portfolio-list {
      gap: 24px;
    }
    /** ---------------------------------- */
    .team {
      padding: 120px 0;
    }
    .container-team {
      padding-left: 0;
      padding-right: 0;
    }
    .team-menu-list {
      display: flex;
      gap: 24px;
      justify-content: center;
      background: #f4f4fd;
    }
    .team-list {
      width: calc((100% - 72px) / 4);
    }
    /** ---------------------------------- */
    .projects-menu {
      display: flex;
      gap: 24px;
    }
    .projects-menu-list {
      width: calc((100% - 3 * 24px) / 4);
    }
    .projects-link-icon {
      border-radius: 4px;
      border: 1px solid #8e8f99;
      background-color: #f4f4fd;
      margin-bottom: 8px;
      height: 112px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .projects-item-text {
      color: #2e2f42;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      margin-bottom: 8px;
    }
    .projects-text {
      font-weight: 400;
    }
    .solutions-title {
      font-size: 56px;
      line-height: 1.07;
      margin-bottom: 48px;
    }
    /* --------------------------------------- */
    .container-footer {
      display: flex;
      align-items: baseline;
      gap: 80px;
    }
  }
}
